@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Gmarket sans */
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 강원 교육 모두 */
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 에스코어드림 */
@font-face {
    font-family: 'S-CoreDream-3Light';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{margin: 0;padding: 0;background-color: rgb(237, 245, 248);font-family: 'LeferiPoint-WhiteObliqueA'; font-weight: bold;}

.container{
    padding: 20px;
}

h1{color:cornflowerblue}
.profile{margin-top: 20px; display: flex;}

a{text-decoration:none;color: darkblue;}
hr{border-color: rgba(45, 46, 46, 0.116);margin: 0;}
.icon{width: 100px; }
.framework .icon{width: 150px;}
.languages li:nth-child(1) img{width: 200px;}
ul{display: flex;}
ul li{margin: 10px 40px 10px 10px; list-style: none;}
ul li div {height: 100px;}

h2 a:hover {color: crimson;}

div p {margin: 5px;}